<h3>Spot Detail</h3>
<hr />
<img class="spot_image_thumb" src="{{spot_image}}" />
<h4>{{title}}</h4>
<p>{{text}}</p>
<span>Address: {{street}}, {{zip}} {{city}} | Rating: {{average_rating}} | User: {{user.name}}
<h3>Comments</h3>
<hr />